{% include "blog_app/base.html" %}
<body>
{% block content %}
{% for user_profile in user_profile %}
<div>
    <h4> Username - {{ user_profile.user }}</h4>
    <h5> Email - {{ user_profile.email }}</h5>
    <h5> Phone - {{ user_profile.phone }}</h5>
</div>
{% endfor %}
<h3> My Post </h3>
{% for post in posts %}
<div>
    <h3><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
    <p>{{ post.post_content }}</p>
    {% if user.is_authenticated %}
    <a href="{% url 'update_post' post.id %}">update</a>
    <a href="{% url 'delete_post' post.id %}">delete</a>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
</body>
</html>